<html lang="en-gb">
{{>components/header}}
<body class="bg-stone-50">
  {{>components/titleBar}}
  <div class="container mx-auto px-4 py-8">
    {{>components/backButton}}

    <h1 class="text-3xl font-bold pb-4">About</h1>
    <p class="text-lg pb-2">
      Dance Booker is your go-to platform for finding and booking dance classes and courses. Whether you're a complete beginner or a seasoned dancer, you can explore upcoming sessions, enrol in multi-week courses, or book one-off classes—all in just a few clicks.
    </p>
    <p class="text-lg pb-2">
      For class organisers, Dance Booker provides a secure management dashboard to create, update, and oversee course and class offerings, track participant enrolments, and manage fellow organisers with ease.
    </p>
    <p class="text-lg pb-2">
      Our goal is to make dance more accessible by simplifying the booking process for students and streamlining class management for instructors and organisers.
    </p>
  </div>
</body>
</html>