<html lang="en-gb">
{{>components/header}}
<body>
  {{>components/titleBar}}
  <div class="container mx-auto px-4 py-8">
    {{>components/homeButton}}
    <h1 class="text-3xl font-bold">{{course.title}}</h1>
    <p class="text-stone-700 mt-2">{{course.description}}</p>
    <p class="mt-4"><strong>Start:</strong> {{course.startDate}}</p>
    <p><strong>End:</strong> {{course.endDate}}</p>
    <p><strong>Price:</strong> £{{course.price}}</p>

    <div class="my-8">
      <a href="#" class="bg-purple-900 hover:bg-purple-700 text-purple-50 font-bold py-2 px-4 rounded">Enroll for Course</a>
    </div>

    <h2 class="text-2xl mt-6 font-semibold">Included Classes <b class="text-stone-500 font-semibold">({{classes.length}})</b></h2>
    {{#classes.length}}
      <div class="mt-2 space-y-2 m-4" style="margin: -4px -16px 4px;">
        {{#classes}}
          {{>components/classList}}
        {{/classes}}
      </div>
    {{/classes.length}}
    {{^classes.length}}
      <div class="flex justify-center items-center">
        <div class="flex justify-center items-center h-24 bg-stone-100 rounded-2xl w-full my-5">
          <p class="text-center text-stone-400 p-0 m-0">No associated classes yet</p>
        </div>
      </div>
    {{/classes.length}}
  </div>
</body>
</html>