<html lang="en-gb">
{{>components/header}}
<body class="bg-stone-50">
{{>components/titleBar}}
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold">{{header}}</h1>
    <p class="text-stone-700 mt-2">{{message}}</p>
    <div class="mt-8">
      {{>components/homeButton}}
    </div>
  </div>
</body>
</html>