<html lang="en-gb">
{{>components/header}}
<body class="bg-stone-50">
  {{>components/titleBar}}
  <div>
    <h2 class="text-3xl font-medium p-3 ps-5">Classes</h2>
    {{>components/classList}}
  </div>

  <div>
    <h2 class="text-3xl font-medium p-3 ps-5 mt-5">Courses</h2>
    {{>components/courseList}}
  </div>
</body>
</html>