<html lang="en-gb">
{{>components/header}}
<body class="bg-stone-50">
  {{>components/titleBar}}
  <div class="container mx-auto px-4 py-8">
    {{>components/homeButton}}
    <h1 class="text-2xl font-bold mb-8">Organiser Dashboard</h1>
    <a href="/organiser/logout" class="bg-purple-900 hover:bg-purple-700 text-purple-50 font-bold py-2 px-4 rounded">Sign out</a>
  </div>
</body>
</html>