<html lang="en-gb">
{{>components/header}}
<body class="bg-stone-50">
{{>components/titleBar}}
<div class="container mx-auto px-4 py-8">
  {{>components/backButton}}

  <h1 class="text-3xl font-bold mb-5">Manage Class</h1>

  <div class="mt-8 mb-4">
    <a href="/organiser/class/manage/{{class._id}}/enrolments" class="bg-blue-100 hover:bg-blue-300 text-blue-800 font-bold py-2 px-4 rounded">Manage Bookings</a>
  </div>

  <form method="POST" action="/organiser/class/delete/{{class._id}}" class="mt-4 mb-8" onsubmit="return confirm('Are you sure you want to delete this class?')">
    <button type="submit" class="bg-red-100 hover:bg-red-300 text-red-700 font-bold py-2 px-4 rounded">Delete Class</button>
  </form>

  <form method="POST" action="/organiser/class/update/{{class._id}}" class="space-y-4 p-6 bg-purple-100 rounded-2xl">
    <div>
      <label for="title" class="block mb-1.5 font-medium">Title</label>
      <input value="{{class.title}}" id="title" type="text" name="title" required placeholder="Title..." class="border p-2 px-3 w-full rounded">
    </div>
    <div>
      <label for="description" class="block mb-1.5 font-medium">Description</label>
      <textarea id="description" name="description" required placeholder="Description..." rows="4" class="border p-2 px-3 w-full rounded resize-none ">{{class.description}}</textarea>
    </div>
    <div>
      <label for="date" class="block mb-1.5 font-medium">Date</label>
      <input value="{{class.date}}" id="date" type="date" name="date" required class="border p-2 px-3 w-full rounded">
    </div>
    <div>
      <label for="time" class="block mb-1.5 font-medium">Time</label>
      <input value="{{class.time}}" id="time" type="time" name="time" required class="border p-2 px-3 w-full rounded">
    </div>
    <div>
      <label for="price" class="block mb-1.5 font-medium">Price (£)</label>
      <input value="{{class.price}}" id="price" type="number" name="price" step="0.01" required class="border p-2 px-3 w-full rounded">
    </div>
    <div>
      <label for="courseId" class="block mb-1.5 font-medium"><b class="text-purple-800 font-medium">(optional)</b> Link to Course</label>
      <select id="courseId" name="courseId" class="border p-2 px-3 w-full rounded">
        <option value="">Standalone Class (No Course)</option>
        {{#courses}}
          <option value="{{_id}}" {{#selected}}selected{{/selected}}>{{title}}</option>
        {{/courses}}
      </select>
    </div>
    <div class="pt-2">
      <button type="submit" class="bg-purple-900 hover:bg-purple-700 text-purple-50 font-bold py-2 px-4 rounded">
        Update Class
      </button>
    </div>
  </form>
</div>
</body>
</html>